/* Fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), 
          url('../fonts/roboto-v30-latin-regular.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin-italic.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin-500.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src:url('../fonts/roboto-v30-latin-500italic.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin-500italic.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
          url('../fonts/roboto-v30-latin-700.woff') format('woff'); 
  }

html{
    box-sizing: border-box;
    height: 100%;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 18px;
}
img{
    max-width: 100%;
    height: auto;
}
*:focus{
    outline: 0;
    box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4)
}
button{
    cursor: pointer;
}
// CONTAINER
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.left-margin{
    margin-left: 165px;
    
}
.site_top{
    max-width: 1440px;
    margin: 0 auto;
    .logo_top{
        display: flex;
        .site-header_logo{
            margin-top: 60px;
        }
        .logo:hover{
            transform: scale(1.025);
        }
        .tingla_logo{
            width: 130px;
            padding: 0;
        }
    }
    .shakl_one{
        margin-left: 670px;
        top:0;
        position: absolute;
    }
    .shakl_two{
        position: absolute;
        left: 78px;
        top: 717px;
    }
}
.text-top{
    display: flex;
    align-items:center;
    .text-top_yozuv{
        width: 650px;
        display: flex;
        flex-direction: column;
    }
    .text-top_h{
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 70px;
        line-height: 95px;
        letter-spacing: -2%;
    }
    .text-top_p{
        margin: 0;
        margin-top: 24px;
        padding: 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
    }
    .yukla-btn{
        margin-top: 69px;
        width: 181px;
        height: 60px;
        border-radius:8px;
        background-color:#0F0F54;
        color:#fff;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
    }
    .text-top_background{
        width: 514px;
        height: 729px;
        background-image:url(../img/1phone.png);
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        margin-left: 7px;
    }
}



/* MEDIA QUERIYES */
@media(max-width:1270px){
    .tingla_logo{
        width: 120px;
        margin-left: 30px;
    }
    .text-top{
       margin-left: 30px; 
       .text-top_h{
        font-size: 70px;
       }
    }
    .text-top_background{
        padding: 0;
        width: 464px;
        height: 674px;
    }
}
/*750px mobilni*/
@media(max-width:750px){
    .site-header_logo{
        margin-top: 37px;
    }
    .tingla_logo{
        width: 113px;
    }
    .text-top{
        display: flex;
        flex-direction: column-reverse;
        .text-top_h{
            font-size: 36px;
            line-height: 42px;
            margin-top: 15px;
           }
        .text-top_p{
            font-size: 18px;
            line-height: 32px;
            margin-top: 16px;
        }
        .text-top_background{
            width: 550px;
            margin-top: 30px;
            
        }
        .yukla-btn{
            margin-top: 28px;
            width: 151px;
            height: 57px;
            font-size: 18px;
        }
    }
    .shakl-position{
        .shakl_one{
            margin-left: 570px;
            margin-top: 200px;
            width: 77.75px;
            height: 77.75px;
            object-fit: cover;
        }
    }
    .shakl-position_two{
        .shakl_two{
            margin-top: -200px;
            left: 20px;
            width: 58px;
            height: 58px;
        }
    }
}